/* Will contain styling for the rockets component */

.rocket {
  margin: 4% 10%;
  display: flex;
  gap: 30px;
}

.rocket .rocketLeft {
  width: 25%;
}

.rocket .rocketLeft img {
  max-width: 100%;
}

.rocket .rocketRight {
  width: 65%;
}

.rocketRight h2 {
  margin-bottom: 20px;
}

.rocketRight p {
  margin-bottom: 20px;
}

.rocketRight button {
  background-color: #009;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

.rocketRight button:hover {
  background-color: #fff;
  color: #009;
  border: 1px solid #009;
}

.rocketRight button:active {
  background-color: #009;
  color: #fff;
  border: none;
}

/* Styling for the reservation functionality */

.reservedbtn {
  background-color: rgb(0, 153, 255);
  padding: 5px;
  margin-right: 10px;
  border-radius: 9px;
  color: #fff;
}

.rocketRight .cancelReserve {
  background-color: #fff;
  color: darkgray;
  padding: 10px;
  cursor: pointer;
  border: 2px solid darkgray;
  transition: 0.5s;
  font-weight: bold;
}

.rocketRight .cancelReserve:hover {
  background-color: #fff;
  color: #f00;
  border: 1px solid #f00;
}

.rocketRight .cancelReserve:active {
  background-color: #f00;
  color: #fff;
  border: none;
}
