.myProfile {
  margin: 5% 80px;
  display: flex;
  gap: 30px;
  width: 100%;
}

.my-rockets,
.my-missions {
  width: 45%;
}

.profile ul {
  display: block;
  border: 1px solid #000;
}

.profile ul li {
  list-style-type: none;
  margin: 0 0 0 -40px;
  padding: 20px 20px;
  border-bottom: 1px solid #000;
}
