/* mission files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.super-mission {
    display: grid;
    width: 90%;
    margin: auto;
    border: 1px solid #aaa;
}

.mission-table {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 70% 10% 10%;
    text-align: left;
}

.mission-table > * {
    border-top: 1px solid #aaa;
    padding: 10px 10px;
}

.mission-description {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}